<div class="subnavbar">

	<div class="subnavbar-inner">
	
		<div class="container">
			
			<a class="btn-subnavbar collapsed" data-toggle="collapse" data-target=".subnav-collapse">
				<i class="icon-reorder"></i>
			</a>

			<div class="subnav-collapse collapse">
				<ul class="mainnav">
				
					<li class="active">
						<a href="{{ path('home')}}">
							<i class="icon-home"></i>
							<span>Home</span>
						</a>	    				
					</li>
					
					<li class="dropdown">					
						<a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
							<i class="icon-th"></i>
							<span>Components</span>
							<b class="caret"></b>
						</a>	    
					
						<ul class="dropdown-menu">
							<li><a href="{{ path('componentes_elementos')}} ">Elements</a></li>
                                                        <li><a href="{{ path('componentes_validacion')}}">Validation</a></li>
                                                        <li><a href="{{ path('componentes_jqueryui')}}">jQuery UI</a></li>
                                                        <li><a href="{{ path('componentes_charts')}}">Charts</a></li>                                                        
                                                        <li><a href="{{ path('componentes_notificaciones')}}">Notificaciones</a></li>                                                        
						</ul> 				
					</li>
					
					<li class="dropdown">					
						<a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
							<i class="icon-copy"></i>
							<span>Sample Pages</span>
							<b class="caret"></b>
						</a>	    
					
						<ul class="dropdown-menu">
							<li><a href="{{ path('paginas_planes')}}">Pricing Plans</a></li>
							<li><a href="{{ path('paginas_faq')}}">FAQ's</a></li>
							<li><a href="{{ path('paginas_galeria')}}">Gallery</a></li>
							<li><a href="{{ path('paginas_reportes')}}">Reports</a></li>
							<li><a href="{{ path('paginas_cuentausuario')}}">User Account</a></li>
						</ul> 				
					</li>
					
					<li class="dropdown">					
						<a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
							<i class="icon-external-link"></i>
							<span>Extra Pages</span>
							<b class="caret"></b>
						</a>	
					
						<ul class="dropdown-menu">
							<li><a href="{{ path('extra_login')}}">Login</a></li>
							<li><a href="{{ path('extra_registro')}}">Signup</a></li>
							<li><a href="{{ path('extra_error')}}">Error</a></li>
							<li class="dropdown-submenu">
			                  <a tabindex="-1" href="#">Dropdown menu</a>
			                  <ul class="dropdown-menu">
			                    <li><a tabindex="-1" href="#">Second level link</a></li>
			                    <li><a tabindex="-1" href="#">Second level link</a></li>
			                    <li><a tabindex="-1" href="#">Second level link</a></li>
			                  </ul>
			                </li>
						</ul>    				
					</li>
				
				</ul>
			</div> <!-- /.subnav-collapse -->

		</div> <!-- /container -->
	
	</div> <!-- /subnavbar-inner -->

</div> <!-- /subnavbar -->