{% extends "GemaAdminBundle:Ejemplo:base.html.twig" %}

{% block title %}GemaAdminBundle:Ejemplo\Paginas:galeria{% endblock %}

{% block body %}

<div class="main">

    <div class="container">

      <div class="row">
      	
      	<div class="span12">
      		
      		<div class="widget stacked">
					
				<div class="widget-header">
					<i class="icon-th-large"></i>
					<h3>Image Gallery</h3>
				</div> <!-- /widget-header -->
				
				<div class="widget-content">
					
					<ul class="gallery-container">
							<li>
								<a href="{{ asset('bundles/gemaadmin/img/gallery/lr1_large.png') }}" class="ui-lightbox">
									<img src="{{ asset('bundles/gemaadmin/img/gallery/lr1.png') }}" alt="" />
								</a>
								
								<a href="{{ asset('bundles/gemaadmin/img/gallery/lr1_large.png') }}" class="preview"></a>
							</li>
							
							<li>
								<a href="{{ asset('bundles/gemaadmin/img/gallery/lr2_large.png') }}" class="ui-lightbox">
									<img src="{{ asset('bundles/gemaadmin/img/gallery/lr2.png') }}" alt="" />
								</a>
								
								<a href="{{ asset('bundles/gemaadmin/img/gallery/lr2_large.png') }}" class="preview"></a>
							</li>
							
							<li>
								
								<a href="{{ asset('bundles/gemaadmin/img/gallery/lr3_large.png') }}" class="ui-lightbox">
									<img src="{{ asset('bundles/gemaadmin/img/gallery/lr3.png') }}" alt="" />
								</a>
								
								<a href="{{ asset('bundles/gemaadmin/img/gallery/lr3_large.png') }}" class="preview"></a>
							</li>
							
							<li>
								
								<a href="{{ asset('bundles/gemaadmin/img/gallery/lr4_large.png') }}" class="ui-lightbox">
									<img src="{{ asset('bundles/gemaadmin/img/gallery/lr4.png') }}" alt="" />
								</a>
								
								<a href="{{ asset('bundles/gemaadmin/img/gallery/lr4_large.png') }}" class="preview"></a>
							</li>
							
							<li>
								
								<a href="{{ asset('bundles/gemaadmin/img/gallery/lr5_large.png') }}" class="ui-lightbox">
									<img src="{{ asset('bundles/gemaadmin/img/gallery/lr5.png') }}" alt="" />
								</a>
								
								<a href="{{ asset('bundles/gemaadmin/img/gallery/lr5_large.png') }}" class="preview"></a>
								
							</li>
							
							<li>
								
								<a href="{{ asset('bundles/gemaadmin/img/gallery/lr2_large.png') }}" class="ui-lightbox">
									<img src="{{ asset('bundles/gemaadmin/img/gallery/lr2.png') }}" alt="" />
								</a>
								
								<a href="{{ asset('bundles/gemaadmin/img/gallery/lr2_large.png') }}" class="preview"></a>
								
							</li>
							
							<li>
								
								<a href="{{ asset('bundles/gemaadmin/img/gallery/lr3_large.png') }}" class="ui-lightbox">
									<img src="{{ asset('bundles/gemaadmin/img/gallery/lr3.png') }}" alt="" />
								</a>
								
								<a href="{{ asset('bundles/gemaadmin/img/gallery/lr3_large.png') }}" class="preview"></a>
							</li>
							
							<li>
								
								<a href="{{ asset('bundles/gemaadmin/img/gallery/lr1_large.png') }}" class="ui-lightbox">
									<img src="{{ asset('bundles/gemaadmin/img/gallery/lr1.png') }}" alt="" />
								</a>
								
								<a href="{{ asset('bundles/gemaadmin/img/gallery/lr1_large.png') }}" class="preview"></a>
							</li>
							
							<li>
								
								<a href="{{ asset('bundles/gemaadmin/img/gallery/lr2_large.png') }}" class="ui-lightbox">
									<img src="{{ asset('bundles/gemaadmin/img/gallery/lr2.png') }}" alt="" />
								</a>
								
								<a href="{{ asset('bundles/gemaadmin/img/gallery/lr2_large.png') }}" class="preview"></a>
								
							</li>
							
							<li>
								
								<a href="{{ asset('bundles/gemaadmin/img/gallery/lr3_large.png') }}" class="ui-lightbox">
									<img src="{{ asset('bundles/gemaadmin/img/gallery/lr3.png') }}" alt="" />
								</a>
								
								<a href="{{ asset('bundles/gemaadmin/img/gallery/lr3_large.png') }}" class="preview"></a>
							</li>
							
							<li>
								
								<a href="{{ asset('bundles/gemaadmin/img/gallery/lr4_large.png') }}" class="ui-lightbox">
									<img src="{{ asset('bundles/gemaadmin/img/gallery/lr4.png') }}" alt="" />
								</a>
								
								<a href="{{ asset('bundles/gemaadmin/img/gallery/lr4_large.png') }}" class="preview"></a>
							</li>
							
							<li>
								
								<a href="{{ asset('bundles/gemaadmin/img/gallery/lr5_large.png') }}" class="ui-lightbox">
									<img src="{{ asset('bundles/gemaadmin/img/gallery/lr5.png') }}" alt="" />
								</a>
								
								<a href="{{ asset('bundles/gemaadmin/img/gallery/lr5_large.png') }}" class="preview"></a>
								
							</li>
							
							<li>
								
								<a href="{{ asset('bundles/gemaadmin/img/gallery/lr2_large.png') }}" class="ui-lightbox">
									<img src="{{ asset('bundles/gemaadmin/img/gallery/lr2.png') }}" alt="" />
								</a>
								
								<a href="{{ asset('bundles/gemaadmin/img/gallery/lr2_large.png') }}" class="preview"></a>
								
							</li>
							
							<li>
								
								<a href="{{ asset('bundles/gemaadmin/img/gallery/lr3_large.png') }}" class="ui-lightbox">								
									<img src="{{ asset('bundles/gemaadmin/img/gallery/lr3.png') }}" alt="" />
								</a>
								
								<a href="{{ asset('bundles/gemaadmin/img/gallery/lr3_large.png') }}" class="preview"></a>
							</li>
							
							<li>
								
								<a href="{{ asset('bundles/gemaadmin/img/gallery/lr4_large.png') }}" class="ui-lightbox">
									<img src="{{ asset('bundles/gemaadmin/img/gallery/lr4.png') }}" alt="" />
								</a>
								
								<a href="{{ asset('bundles/gemaadmin/img/gallery/lr4_large.png') }}" class="preview"></a>
							</li>
							
							<li>
								
								<a href="{{ asset('bundles/gemaadmin/img/gallery/lr3_large.png') }}" class="ui-lightbox">
									<img src="{{ asset('bundles/gemaadmin/img/gallery/lr3.png') }}" alt="" />
								</a>
								
								<a href="{{ asset('bundles/gemaadmin/img/gallery/lr3_large.png') }}" class="preview"></a>
							</li>
							
							<li>
								
								<a href="{{ asset('bundles/gemaadmin/img/gallery/lr1_large.png') }}" class="ui-lightbox">
									<img src="{{ asset('bundles/gemaadmin/img/gallery/lr1.png') }}" alt="" />
								</a>
								
								<a href="{{ asset('bundles/gemaadmin/img/gallery/lr1_large.png') }}" class="preview"></a>
							</li>
							
							<li>
								
								<a href="{{ asset('bundles/gemaadmin/img/gallery/lr2_large.png') }}" class="ui-lightbox">
									<img src="{{ asset('bundles/gemaadmin/img/gallery/lr2.png') }}" alt="" />
								</a>
								
								<a href="{{ asset('bundles/gemaadmin/img/gallery/lr2_large.png') }}" class="preview"></a>
								
							</li>
							
							<li>
								
								<a href="{{ asset('bundles/gemaadmin/img/gallery/lr3_large.png') }}" class="ui-lightbox">
									<img src="{{ asset('bundles/gemaadmin/img/gallery/lr3.png') }}" alt="" />
								</a>
								
								<a href="{{ asset('bundles/gemaadmin/img/gallery/lr3_large.png') }}" class="preview"></a>
							</li>
							
							<li>
								
								<a href="{{ asset('bundles/gemaadmin/img/gallery/lr4_large.png') }}" class="ui-lightbox">
									<img src="{{ asset('bundles/gemaadmin/img/gallery/lr4.png') }}" alt="" />
								</a>
								
								<a href="{{ asset('bundles/gemaadmin/img/gallery/lr4_large.png') }}" class="preview"></a>
							</li>
							
						</ul>
					
				</div> <!-- /widget-content -->
					
			</div> <!-- /widget -->					
			
	    </div> <!-- /span12 -->     	
      	
      	
      </div> <!-- /row -->
      
      
      
      

    </div> <!-- /container -->
    
</div> <!-- /main -->
    
{% endblock %}

{% block javascripts %}

<script src="{{ asset('bundles/gemaadmin/js/plugins/hoverIntent/jquery.hoverIntent.minified.js') }}"></script>
<script src="{{ asset('bundles/gemaadmin/js/demo/gallery.js') }}"></script>

{% endblock %}